* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
}

table {
  width: 50%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ccc;
}

th,
td {
  text-align: left;
}

form {
  padding: 10px;
}

footer {
  text-align: center;
  background: rgba(139, 76, 221, 0.555);
  color: rgb(53, 6, 97);
  width: 100%;
}

.title {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

footer {
  background-color: #f8f9fa;
}
footer h5 {
  font-weight: bold;
  margin-bottom: 15px;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

.button {
  --width: 100px;
  --height: 35px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #472d69;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  align-items: center;
  border-radius: 0.45em;
  font-family: "Arial";
  transition: background 0.3s;
}

.button::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: #b595d1dc;
  font-size: 0.9rem;
  color: #fff;
  border-radius: 0.25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.button::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #ada3e634;
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.button::after,
.button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper,
.text,
.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text {
  top: 0;
}

.text,
.icon {
  transition: top 0.5s;
}

.icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.button:hover {
  background: #472d69;
}

.button:hover .text {
  top: -100%;
}

.button:hover .icon {
  top: 0;
}

.button:hover:before,
.button:hover:after {
  opacity: 1;
  visibility: visible;
}

.button:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}

/* prueba*/
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.review {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.rating {
  display: flex;
  align-items: center;
}

.star {
  color: #ffc107;
  font-size: 1.2em;
}

.comment {
  margin-top: 10px;
}

.comment img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 5px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  .user-info {
    flex-direction: column;
  }

  .user-info img {
    margin-bottom: 10px;
  }
}

.text-center {
  text-align: center;
}

/* Botón para abrir el modal */
.open-modal-btn {
  padding: 12px 24px;
  background-color: #435784;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.open-modal-btn:hover {
  background-color: #b595d1;
}

/* Estilos del modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.close-btn {
  font-size: 30px;
  color: #aaa;
  cursor: pointer;
}

.close-btn:hover {
  color: #000;
}

.modal-header h2 {
  text-align: center;
  margin: 0;
  flex-grow: 1;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

input,
select,
textarea {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

textarea {
  resize: vertical;
  min-height: 120px;
}

button {
  padding: 12px;
  background-color: #435784;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #b595d1;
}

/* Diseño de checkbox para mejorar la apariencia */
.checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 15px;
  font-size: 16px;
  color: #333;
}

.checkbox-container input {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #fff;
  border: 2px solid #6c59ad;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.checkbox-container input:checked {
  background-color: #7428a7;
  border-color: #6b4d9b;
}

.checkbox-container label {
  margin-left: 5px;
  font-size: 16px;
}

.checkbox-container a {
  color: #6b4eaf;
  text-decoration: none;
  font-weight: bold;
}

/* Diseño adaptable (Responsive) */
@media (max-width: 768px) {
  .modal-content {
    width: 90%; /* El modal ocupa el 90% del ancho de la pantalla */
    padding: 15px;
  }

  h2 {
    font-size: 1.5em;
  }

  input,
  select,
  textarea {
    font-size: 14px; /* Reduce el tamaño de la fuente */
  }

  button {
    font-size: 16px;
  }

  .modal-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .close-btn {
    font-size: 25px;
  }
}

@media (max-width: 480px) {
  .modal-content {
    width: 95%; /* El modal ocupa el 95% en pantallas más pequeñas */
  }

  h2 {
    font-size: 1.2em;
  }

  button {
    font-size: 14px;
  }
}
.card {
  margin-bottom: 10px;
}

/* prueba navbar */

/* Resetting some basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #3f368b;
}

header {
  background-color: #ffffff;
  color: #483d8b;
  padding: 10px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar .nav-links {
  display: flex;
  list-style: none;
}

.navbar .nav-links li {
  margin: 0 15px;
}

.navbar .nav-links a {
  color: #483d8b;
  text-decoration: none;
  font-size: 18px;
}

.navbar .nav-links a:hover {
  color: #6156a4;
}

.cart {
  display: flex;
  align-items: center;
}

.cart img {
  width: 30px;
  height: 30px;
}

.cart-count {
  background-color: #6156a4;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  margin-left: 5px;
  font-size: 14px;
}
