*{
    margin: 0;
    padding: 0;   
    
   }
   
   
   
   body{
       font-family: Arial, Helvetica, sans-serif;
       background-color: rgb(255, 255, 255);
   }
   
   /**/
   header{
       color:rgb(53, 6, 97);
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
   }

   nav {
    margin-right: 35px;
   }
   
   
   nav ul{
       list-style: none;
   }
   
   nav ul li{
       display: inline;
       margin: 0 15px;
   }
   
   nav ul li a{
       text-decoration: none;
       color: rgb(136, 112, 175);
   }

   #productos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
   }
   
   table {
       width: 50%;
       border-collapse: collapse;
   }
   
   
   table, th, td {
       border: 1px solid #ccc;
   }
   
   th, td {   
       text-align: left;
   }

   form {
    padding: 10px;
   }
   
   #botoncito {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  #botoncito:hover {background-color: #3e8e41}
  
  #botoncito:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
   
   footer {
       text-align: center; 
       background: rgba(139, 76, 221, 0.555);
       color: rgb(53, 6, 97);
       width: 100%;
   }

   .title{
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
   }

   footer {
    background-color: #f8f9fa;
}
footer h5 {
    font-weight: bold;
    margin-bottom: 15px;
}
footer a {
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}

.button {
    --width: 100px;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #222;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s;
  }
  
  .button::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: #555;
    font-size: 0.9rem;
    color: #fff;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
  }
  
  .button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #555;
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }
  
  .button::after,.button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-wrapper,.text,.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
  }
  
  .text {
    top: 0
  }
  
  .text,.icon {
    transition: top 0.5s;
  }
  
  .icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon svg {
    width: 24px;
    height: 24px;
  }
  
  .button:hover {
    background: #222;
  }
  
  .button:hover .text {
    top: -100%;
  }
  
  .button:hover .icon {
    top: 0;
  }
  
  .button:hover:before,.button:hover:after {
    opacity: 1;
    visibility: visible;
  }
  
  .button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }
  
  .button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  }
  
  